*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/splashscreen/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/splashscreen/build/.transforms/383591fc825f06245ed20455f14be7b9/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/splashscreen/build/intermediates/incremental/mergeDebugAssets/merger.xml
/splashscreen/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/compilerPluginFiles/outputs-generated-for-plugins.tab.keystream.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/compilerPluginFiles/outputs-generated-for-plugins.tab.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/compilerPluginFiles/outputs-generated-for-plugins.tab_i.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/splashscreen/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/splashscreen/build/kotlin/compileDebugKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/compilerPluginFiles/sources-referenced-by-plugins.tab.keystream
/splashscreen/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/compilerPluginFiles/sources-referenced-by-plugins.tab_i.len
/splashscreen/build/.transforms/383591fc825f06245ed20455f14be7b9/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_global-synthetics/com/falcon/splashscreen/SplashScreenKt$$InternalSyntheticLambda$2$76d18b778b7c95837410822f844d92a9e727eb5adaa937efa5cb4bd5ad1df77a$0.globals
/splashscreen/build/.transforms/383591fc825f06245ed20455f14be7b9/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_global-synthetics/com/falcon/splashscreen/SplashScreenKt$$InternalSyntheticLambda$2$76d18b778b7c95837410822f844d92a9e727eb5adaa937efa5cb4bd5ad1df77a$1.globals
/splashscreen/build/.transforms/383591fc825f06245ed20455f14be7b9/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_global-synthetics/com/falcon/splashscreen/SplashScreenKt$$InternalSyntheticLambda$2$ca4982098521fb215d4ea66797a1fb26da5d3bd79582f121c827e3975e70da20$0.globals
/splashscreen/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/com/falcon/splashscreen/SplashScreenKt.class
/splashscreen/build/intermediates/packaged_res/debug/packageDebugResources/font/times_new_roman_mt_regular.otf
